@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
}
header {
  width: 80%;
  height: 70px;
  background: #f0dede;
  position: fixed;
  top: 0px;
  left: 30%;
  z-index: 1000;
}

.main .sidebarwrapper {
  width: 20%;
  flex: 0 0 25%;
  transition: all 0.3s ease-in-out;
}

.main .sidebarwrapper .sidebar {
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #f9f8f8;
}

.main .sidebarwrapper .sidebar ul {
  margin-bottom: 0px;
  padding-left: 0px;
}
.main .sidebarwrapper .sidebar ul li {
  list-style: none;
}
.main .sidebarwrapper .sidebar ul li button {
  color: rgb(0, 0, 0);
  text-align: left;
  justify-content: left;
  border-radius: 0px !important;
  padding: 15px;
}
.main .sidebarwrapper .sidebar ul li button :hover svg {
  color: #0858f7 !important;
}
.main .sidebarwrapper .sidebar ul li button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 1px;
}
.main .sidebarwrapper .sidebar ul li button .icon svg {
  color: black;
  opacity: 0.8;
  font-size: 16px;
}

.card {
  margin: 10px;
  width: 90%;
}
.myProfile {
  border: 0;
  text-align: left !important;
  background: #ffffff;
}

.subProfile li {
  width: 100%;
  list-style: none;
  color: #000 !important;
  text-decoration: none;
  padding: 5px 15px;
}

.myProfile .userImg .rounded-circle {
  display: flexa;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.Profilelogo {
  float: left;
  width: 44px;
  height: 42px;
  border-radius: 100%;
}
.myProfile .userInfo {
  padding-left: 15px;
}
.myProfile .userInfo h5 {
  font: size 10px;
  font-weight: 400;
  margin-bottom: 0px;
}
.myProfile .userInfo p {
  margin-top: 0px;
  font-size: 13px;
  color: #000;
  opacity: 0.7;
}

.dropDownArrow {
  size: 15px;
}

.right-content {
  padding: 85px 30px;
  text-align: left;
}
.right-content .card {
  border-color: #ffffff;
  height: 45px;
  width: 38%;
  margin-bottom: 40px;
}
.right-content .card button {
  border-radius: 10px;
  color: #ffffff;
  background-color: #6d30ed;
  font-size: 15px;
  font-weight: 500;
}
.right-content .card button h5 {
  color: #ffffff;
  font-weight: 300;
  height: 25px;
  margin-left: 6px;
}
.right-content .card button IoMdRadioButtonOn {
  height: 25px;
  width: 25px;
}

/*ClientList Page*/
.container-fluid {
  margin-top: 50px;
  padding-left: 2px;
}
.container-fluid .row {
  margin-top: 50px;
  padding-left: 2px;
}
.container-fluid .row .col-1 {
  width: 15%;
  padding-left: 0px;
}
.container-fluid .row .col-2 {
  width: 20%;
  padding-left: 0px;
}
.container-fluid .row .col-3 {
  width: 25%;
  padding-left: 0px;
}
.container-fluid .row .col-1 h1 {
  font-weight: 500;
}

.container-fluid .row .col h4 {
  font-weight: 300;
  font-size: 24px;
  margin-left: 6px;
}
.newClientbtn {
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #6d30ed;
  font-size: 15px;
  font-weight: 300;
}

/*----------------------------------------------------------------------------------------------*/
/*SearchBox*/
.SearchBox {
  width: 300px;
  background: #f3f4f6;
  height: 40px;
  border-radius: 6px;
}
.SearchBox input {
  background: transparent;
  border: 0px;
  outline: none;
  padding-left: 10px;
}

.filter {
  width: 40px;
  background: #f3f4f6;
  height: 40px;
  border-radius: 8px;
}
.filter button {
  background: transparent;
  border: 0px;
  outline: none;
  padding-left: 10px;
}

/*Client Status and Details*/

.button {
  background-color: #b9bcc3;
  color: #fafafa;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
  margin-right: 5px;
}
.button.active {
  background-color: #f5f1ff;
  color: #7c4dc8;
}

.separator {
  border-top: 1px solid #b9bcc3;
}

.content {
  background-color: #fafafa;
  width: 100%;
  height: 400px;
}

/*Getting Started*/
/* verticalStepper*/
.card .start {
  margin-left: 35px;
}
.start h5 {
  font-size: 18px;
  font-weight: bold;
  color: #4d4e53;
  margin: 8px;
}
.start {
  height: 500px;
}

.start hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.MuiStepLabel-label {
  display: flex;
  justify-content: space-between;
  color: #6d6e70;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
}

.MuiStepLabel-iconContainer {
  margin-right: 10px;
}

.buttons-container {
  margin-top: 5px;
}

.buttons-container h5 {
  color: #6d6e70;
  font-size: 15px;
  font-weight: 600;
  margin-left: 40px;
  text-align: justify;
  margin-bottom: 6px;
}

.buttons-container .MuiButton-contained {
  margin-right: 10px;
  border-radius: 6px;
  width: 65%;
}

.buttons-container .quick-demo-button {
  background: #6d31ee;
  color: #cfbbf8;
  margin-bottom: 6px;
}

.buttons-container .download-app-button {
  background: #f5f1ff;
  color: #a384f2;
}

/*--------------------------------------------------------------------------*/
/*ClientDetails Table*/
.recc {
  margin-top: 0px !important;
}

.client-table {
  border-collapse: collapse;
  width: 100%;
  margin: 12px;
}

.client-table th,
.client-table td {
  border: 1px solid rgb(219, 214, 214);
  padding: 8px;
  text-align: center;
}

.client-table th {
  background-color: #f2f2f2;
  color: rgb(87, 87, 87);
  font-weight: bold;
}

.client-table input[type="checkbox"] {
  margin: 0 auto;
}

.client-table textarea {
  width: 100%;
  height: 100px;
}
.advisortag {
  border: 2px solid rgb(249, 110, 249);
  border-radius: 20px;
  width: 90px;
  margin-left: 45px;
  padding: 6px;
  color: rgb(249, 110, 249);
}

.editcon {
  margin-left: 5px;
  color: rgb(85, 85, 86);
  font-size: 19px;
  opacity: 0.5;
}

/*------------------------------------------------------------------*/
/*ScreenRIA*/
/* styles.css */

/* Styles for buttons */
.button {
  display: inline-block;
  /* padding: 10px; */
  margin-right: 0px;
  background-color: #ffffff;
  color: #a6abb3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button.active {
  background-color: #ffffff;
  color: #834ff0;
}

Styles for content .content {
  /* padding: 10px; */
  background-color: #c72d2d;
  height: 100%; /* Adjust height dynamically */
}
/*----------------------------------------------------------------------------*/
/*RIAScreen*/
.container .row h1 {
  margin-top: 60px;
  margin-left: 0px !important;
}
.ScreenRIAAndRAbutton .container .row {
  margin: 5px;
}

.container-fluid .row data {
  height: 10px;
  background: #0858f7;
}

.data .list-drop {
  background-color: #b9bcc3;
  color: black;
  border-radius: 50px;
  padding: 6px 6px 6px 6px;
  opacity: 0.7;
  height: 50px;
}
.listICON1 {
  width: 30px;
  background: #f3f4f6;
  height: 40px;
  border-radius: 6px;
  margin-right: 15px;
}
.listICON2 {
  width: 30px;
  background: #f3f4f6;
  height: 40px;
  border-radius: 6px;
}

/*--------------------------------------------------------------------------------------------*/

/*DropDOwnLIst*/
/* styles.css */
.dropdown-list {
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Optional border-radius */
  padding: 5px 10px;
  width: 250px; /* Adjust width as desired */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu {
  width: 100%; /* Match the width of the dropdown list */
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Optional border-radius */
  margin-top: 5px; /* Add some margin at the top */
}

.dropdown-menu .dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f0f0f0; /* Optional hover effect */
}

/*----------------------------------------------------------------------------------*/
/* Send recommadtion */

.row table {
  padding: 1px;
}
.send-recomm-details {
  margin-top: 43px;
}
.recomm-table {
  border-collapse: collapse;
  width: 90%;
}

.recomm-table th,
.recomm-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.recomm-table th {
  background-color: #f2f2f2;
}
.editcon {
  margin-left: 140px;
}

.send-recomm-options {
  display: flex;
  justify-content: space-between;
}

.send-recomm-options-1 {
  margin-left: 30px;
}
.send-recomm-options-2 {
  margin-left: 40px;
}
.advisortag {
  margin-left: 10px;
  text-align: center;
}
/*----------------------------------------------------*/
/*postreccButton


/* Container styling */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

/* Button styling */
.button-style {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 7px;
  background-color: #f0f0f0; /* light gray background */
  cursor: pointer;
  width: fit-content; /* button width adapts to text size */
  font-size: 16px;
  text-align: left; /* text starts from the left side */
}

/* Styling for selected button */
.button-selected {
  background-color: #834ff0; /* blue background for selected button */
  color: white; /* white text for selected button */
}

/* Send recommadtion table delivery and trade */

.row table {
  padding: 1px;
}
.send-recomm-DAT-details {
  margin-top: 43px;
}
.recomm-DAT-table {
  border-collapse: collapse;
  width: 100%;
}

.recomm-DAT-table th,
.recomm-DAT-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.recomm-DAT-table th {
  background-color: #f2f2f2;
}
.sendrecomm-DAT-editcon {
  margin-left: 140px;
}

.send-recomm-DAT-options {
  display: flex;
  justify-content: space-between;
}

.send-recomm-DAT-options--1 {
  margin-left: 30px;
}
.send-recomm-options-DAT-2 {
  margin-left: 40px;
}
.send-recomm-DAT-advisortag {
  text-align: center;
  border: 2px solid rgb(249, 110, 249);
  border-radius: 20px;
  width: 90px;
  margin-left: 10px;
  padding: 6px;
  color: rgb(249, 110, 249);
  cursor: pointer;
}
.sendrecomm-DAT-edit-button {
  border: none;
  background: white;
}
.sendrecomm-DAT-editcon {
  margin-left: 50px;
  color: rgb(85, 85, 86);
  font-size: 19px;
  opacity: 0.5;
}

.sendrecomm-DAT-editcon:active {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
/* HistoricalRecosTable */
.historical-recos-details {
  margin-top: 250px;
}
.recos-table {
  border-collapse: collapse;
  width: 70%;
}
.recos-table th {
  opacity: 0.8;
}
.recos-table th,
.recos-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.recos-table th {
  background-color: #f2f2f2;
}

/* ClientPortfolioTable */
.client-portfolio-details {
  margin-top: 250px;
}
.portfolio-table {
  border-collapse: collapse;
  width: 70%;
}
.portfolio-table th {
  opacity: 0.8;
}
.portfolio-table th,
.portfolio-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.portfolio-table th {
  background-color: #f2f2f2;
}


/*-----------------------------------------------------------------------------*/

/* Send recommadtion table delivery and trade */

.row table {
  padding: 1px;
}
.send-recomm-DAT-details {
  margin-top: 43px;
}
.recomm-DAT-table {
  border-collapse: collapse;
  width: 100%;
}

.recomm-DAT-table th,
.recomm-DAT-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.recomm-DAT-table th {
  background-color: #f2f2f2;
}
.sendrecomm-DAT-editcon {
  margin-left: 140px;
}

.send-recomm-DAT-options {
  display: flex;
  justify-content: space-between;
}

.send-recomm-DAT-options--1 {
  margin-left: 30px;
}
.send-recomm-options-DAT-2 {
  margin-left: 40px;
}
.send-recomm-DAT-advisortag {
  text-align: center;
  border: 2px solid rgb(249, 110, 249);
  border-radius: 20px;
  width: 90px;
  margin-left: 10px;
  padding: 6px;
  color: rgb(249, 110, 249);
  cursor: pointer;
}
.sendrecomm-DAT-edit-button {
  border: none;
  background: white;
}
.sendrecomm-DAT-editcon {
  margin-left: 50px;
  color: rgb(85, 85, 86);
  font-size: 19px;
  opacity: 0.5;
}

.sendrecomm-DAT-editcon:active {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
